.about-header{
    height: 300px;
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/about-bg.jpg);
    position: relative;
    z-index: 2;
    &::after{
        @extend %overlay;
        background-color: rgba(#000, 0.6);
        z-index: -1;
    }
    .heading{
        margin-top: 70px;
        font-size: 4rem;
        font-family: 'Montserrat';
        font-weight: bold;
        white-space: nowrap;
        color: #fff;
        position: relative;
        z-index: 5;
        &::after{
            content: '';
            position: absolute;
            left: -12px;
            bottom: 0;
            background-color: transparent;
            width: 30px;
            height: 30px;
            border-left: 5px solid $mainColor;
            border-bottom: 5px solid $mainColor;
        }
        &::before{
            content: '';
            position: absolute;
            right: -125px;
            top: 0;
            background-color: transparent;
            width: 30px;
            height: 30px;
            border-right: 5px solid $mainColor;
            border-top: 5px solid $mainColor;
        }
    }
}

.about{
    margin-bottom: 40px;
    .about-company{
        margin-bottom: 30px;
        .about-img{
            img{
                width: 100%;
            }
        }
        .about-desc{
            padding-left: 40px;
            h3{
                font-size: 34px;
                padding: 10px 0;
            }
            p{
                font-size: 16px;
                color: rgba(#000, 0.7);
            }
            ul{
                li{
                    display: flex;
                    i{
                        color: $primaryColor;
                        padding: 3px 6px 3px 5px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .banner-bottom{
        padding: 50px 0;
        .col-md-4{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .about-icons{
                display: flex;
                justify-content: center;
                i{
                    &::before{
                        font-size: 75px;
                        color: $primaryColor;
                    }
                }
            }
            h4{
                font-size: 22px;
            }
            p{
                font-size: 16px;
                color: rgba(#000, 0.8)
            }
        }
    }
}