.header{
    .contact-header{
        margin-top: 70px;
        background-image: url('../img/bg contact.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 300px;
        position: relative;
        &::after{
            @extend %overlay;
            display: block;
            background-color: rgba(#000, 0.5);
        }
        .col-md-8{
            z-index: 3;
            .heading{
                text-align: center;
                color: #fff;
                font-size: 4rem;
                line-height: 300px;
            }
        }
    }
}