/* Start Product Section */
.products-sec{
    margin-bottom: 30px;
    display: flex;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .col-md-4{
            padding-bottom: 20px;
            position: relative;
            .cart{
                position: relative;
                border: 1px solid #ccc;
                text-align: center;
                overflow: hidden;
                
                transition: all 0.3s ease-in-out;
                @include size(100%);
                &:hover{
                    border: 1px solid $primaryColor;
                    .cart-bottom{
                        button{
                            /* transform: translateY(0); */
                            bottom: 0;
                        }
                    }
                }
                .cart-top{
                    img{
                        width: 100%;
                    }
                }
                .cart-bottom{
                    padding-top: 15px;
                    .product-name{
                        padding: 10px;
                    }
                    .price-container{
                        
                        .sale{
                            font-size: 14px;
                            border: 1px solid #00b9f1;
                            padding: 3px 8px;
                            color: #00b9f1;
                        }
                        .price{
                            margin-top: 10px;
                            .new-price{
                                color: $primaryColor;
                            }
                            .old-price{
                                color: rgba(#000, 0.6);
                                text-decoration: line-through;
                            }
                        }
                        padding-bottom: 40px;
                    }
                    button{
                        outline: none;
                        width: 100%;
                        border: none;
                        background: #fe4365;
                        color: #fff;
                        padding: 11px;
                        position: absolute;
                        left: 0;
                        bottom: -46px;
                        transition: all 0.3s ease-in-out;
                        i{
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
        .hero-btn{
            margin: 20px auto;
            &:hover{
                color: #fff;
                background-color: $primaryColor;
            }
        }
    }
}