/* Start Products Page */
.header{
    .products-header{
        margin-top: 70px;
        height: 500px;
        background-image: url('../img/products bg.jpg');
        background-size: cover;
        display: flex;
        align-items: center;
        .col-md-8{
            .heading{
                color: #333;
                border: 15px solid $mainColor;
                font-weight: bold;
            }
        }
    }

    @media(max-width: 767px) {
        .products-header{
            background-position: 45%;
            height: 300px;
            .col-md-8{
                .heading{
                    font-size: 2.5rem;
                    margin-left: 5px;
                    border: none;
                    position: relative;
                    z-index: 5;
                    &::after{
                        content: '';
                        width: 109px;
                        height: 63px;
                        position: absolute;
                        top: -8px;
                        left: -10px;
                        border: 10px solid #00b9f1;
                        z-index: -1;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        .products-header{
            .col-md-8{
                .heading{
                    font-size: 5rem;
                }
            }
        }
    }

    @media (min-width: 992) {
        .products-header{
            .col-md-8{
                .heading{
                    font-size: 6rem;
                }
            }
        }
    }

}


/* Start Shop */
.shop{
    .products-list{
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                margin: 0;
                display: flex;
                li{
                    margin: 18px;
                    color: #333;
                    position: relative;
                    font-weight: bold;
                    cursor: pointer;
                    &::after{
                        content: "";
                        width: 0;
                        height: 2px;
                        background-color: $primaryColor;
                        position: absolute;
                        left: 50%;
                        bottom: -8px;
                        transition: all 0.3s ease-in-out;
                    }
                    &:hover{
                        color: $primaryColor;
                        &::after{
                            left: 0;
                            width: 100%;
                        }
                    }
                }
                .active{
                    color: $primaryColor;
                    &::after{
                        left: 0;
                        width: 100%;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            .container{
                ul{
                    flex-wrap: wrap;
                }
            }
        }
    }

    .products-items{
        margin-bottom: 30px;
        display: flex;
            .catorgy{
                display: none;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 40px 0;
                width: 100%;
                .col-md-4{
                    position: relative;
                    margin-bottom: 20px;
                    .cart{
                        position: relative;
                        border: 1px solid #ccc;
                        text-align: center;
                        overflow: hidden;
                        
                        transition: all 0.3s ease-in-out;
                        @include size(100%);
                        &:hover{
                            border: 1px solid $primaryColor;
                            .cart-bottom{
                                button{
                                    bottom: 0;
                                }
                            }
                        }
                        .cart-top{
                            img{
                                width: 100%;
                            }
                        }
                        .cart-bottom{
                            padding-top: 15px;
                            .product-name{
                                padding: 10px;
                            }
                            .price-container{
                                
                                .sale{
                                    font-size: 14px;
                                    border: 1px solid #00b9f1;
                                    padding: 3px 8px;
                                    color: #00b9f1;
                                }
                                .price{
                                    margin-top: 10px;
                                    .new-price{
                                        color: $primaryColor;
                                    }
                                    .old-price{
                                        color: rgba(#000, 0.6);
                                        text-decoration: line-through;
                                    }
                                }
                                padding-bottom: 40px;
                            }
                            button{
                                outline: none;
                                width: 100%;
                                border: none;
                                background: #fe4365;
                                color: #fff;
                                padding: 11px;
                                position: absolute;
                                left: 0;
                                bottom: -46px;
                                transition: all 0.3s ease-in-out;
                                i{
                                    padding-left: 5px;
                                }
                            }
                            .added-btn{
                                width: 50%;
                                background-color: #2db731;
                                bottom: 0;
                            }
                            .view-cart{
                                width: 50%;
                                position: absolute;
                                left: 50%;
                                bottom: 0;
                                padding: 11px;
                                background-color: #333;
                                color: #fff;
                                text-decoration: none;
                                user-select: none;
                                display: none;
                                i{
                                    padding-left: 5px;
                                }
                            }
                            .added-view{
                                display: block;
                            }
                        }
                    
                    }
                    .added{
                        border: 1px solid #2db731;
                    }
                }
            }
        .active{
            display: flex;
        }
    }
}