





/* Start Sign up */
.sign{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    .signup{
        display: none;
        .signup-container{
            h2{
                text-align: center;
                margin-bottom: 50px;
                font-size: 50px;
            }
            label{
                font-weight: bold;
            }
            .col-md-6{
                input{
                    width: 100%;
                    outline: none;
                    padding: 8px;
                    border: 1px solid #333;
                    &:focus{
                        border: 1px solid $primaryColor;
                    }
                }
            }
            .col-md-12{
                margin: 10px;
            }
            .signup-btn{
                margin-top: 20px;
                outline: none;
                padding: 10px 25px;
                border: none;
                background-color: $primaryColor;
                color: #fff;
            }
        }
    }
    .signin{
        .signin-container{
            h2{
                text-align: center;
                margin-bottom: 50px;
                font-size: 50px;
            }
            label{
                font-weight: bold;
            }
            .col-sm-12{
                margin-bottom: 15px;
                input{
                    width: 100%;
                    outline: none;
                    padding: 8px;
                    &:focus{
                        border: 1px solid $primaryColor;
                    }
                }
            }
            .signin-btn{
                margin: 20px 15px;
                width: 100%;
                outline: none;
                padding: 10px 25px;
                border: none;
                background-color: $primaryColor;
                color: #fff;
            }
            .remember-me{
                display: flex;
                label{
                    font-size: 16px;
                    margin-top: -4px;
                    margin-left: 6px;
                }
            }
            .create-acc{
                text-align: center;
                border-top: 1px solid #3333333b;
                padding: 24px;
                margin: 15px 0;
                p{
                    text-decoration: none;
                    color: $mainColor;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }
    }
    @media (max-width: 767px){
        margin-top: 105px;
        .signin{
            overflow: hidden;
            .signin-container{
                h2{
                    font-size: 40px;
                    margin-bottom: 20px;
                }
            }
        }
        .signup{
            overflow: hidden;
            margin-bottom: 10px;
            .signup-container{
                .col-md-12{
                    margin: 0;
                }
                h2{
                    font-size: 40px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}