@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.header .wrapper .carousel .carousel-inner::after, .header .contact-header::after {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
   /*     @include prefixer(background, linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%));
*/
}

.heading {
  margin-bottom: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
@media (max-width: 767px) {
  .heading {
    margin-bottom: 2rem;
  }
}

.hero-btn {
  border: none;
  outline: none;
  padding: 15px 38px;
  font-size: 20px;
  background-color: #00b9f1;
  color: #fff;
  white-space: nowrap;
}
.hero-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

/* Carousel Btns */
.carousel-control-prev {
  left: -40px;
}

.carousel-control-next {
  right: -40px;
}

/* header */
.header {
  overflow: hidden;
  margin-bottom: 50px;
}
.header .navbar {
  z-index: 88;
  background-color: #fff;
}
.header .navbar .navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #fe4365;
}
.header .navbar .navbar-toggler {
  border: none;
  cursor: pointer;
}
.header .navbar .navbar-toggler i {
  font-size: 24px;
}
.header .navbar .nav-item {
  padding: 0 12px;
  position: relative;
}
.header .navbar .nav-item .nav-link {
  color: #636363;
  font-size: 16px;
}
.header .navbar .nav-item .nav-link:hover {
  color: #fe4365;
}
.header .navbar .nav-item .active {
  color: #fe4365;
}
.header .navbar .nav-item .number {
  color: #fff;
  background-color: rgba(254, 67, 101, 0.8);
  font-size: 13px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: 22px;
  right: 3px;
}
@media (max-width: 767px) {
  .header .navbar .collapse {
    padding: 20px 0;
  }
  .header .navbar .collapse .nav-item .number {
    right: 0;
    left: 27px;
  }
}
@media (min-width: 768px) {
  .header .navbar .navbar {
    padding: 0;
  }
  .header .navbar .navbar .collapse {
    padding: 20px 0;
  }
}
@media (min-width: 991px) {
  .header .navbar .collapse {
    padding: 0;
  }
}
.header .wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Carousel */
}
.header .wrapper .wrapper-desc {
  z-index: 77;
  text-align: center;
  position: absolute;
}
.header .wrapper .wrapper-desc h2 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 40px;
}
.header .wrapper .wrapper-desc h2 span {
  color: #fe4365;
}
.header .wrapper .wrapper-desc p {
  color: #ddd;
  padding: 10px 0 40px;
}
.header .wrapper .carousel {
  position: relative;
}
.header .wrapper .carousel .btn-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  z-index: 5;
}
.header .wrapper .carousel .btn-icon:hover {
  background-color: black;
}
.header .wrapper .carousel .prev {
  left: 10px;
}
.header .wrapper .carousel .next {
  right: 10px;
}
.header .wrapper .carousel .carousel-inner {
  position: relative;
  z-index: 1;
}
.header .wrapper .carousel .carousel-inner::after {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
@media (max-width: 767px) {
  .header .wrapper .wrapper-desc h2 {
    font-size: 25px;
  }
  .header .wrapper .wrapper-desc p {
    font-size: 14px;
  }
  .header .wrapper .wrapper-desc a {
    font-size: 18px;
    padding: 15px 30px;
  }
  .header .wrapper .carousel-inner {
    height: 600px;
  }
}
@media (min-width: 768px) {
  .header .wrapper .btn-icon {
    top: 30%;
  }
}
@media (min-width: 991px) {
  .header .wrapper .btn-icon {
    top: 50%;
  }
  .header .wrapper .carousel-inner .carousel-item img {
    width: 100%;
  }
  .header .wrapper .carousel-inner .carousel-item .carousel-caption {
    top: 35%;
  }
  .header .wrapper .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 60px;
  }
}
.header .shopping {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #fe4365;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header .shopping .icon {
  color: #fff;
}
.header .shopping:hover {
  background-color: #00b9f1;
}
@media (max-width: 767px) {
  .header .shopping {
    display: flex;
  }
}
@media (min-width: 768px) {
  .header .shopping {
    display: none;
  }
}

/* Start Product Section */
.products-sec, .shop .products-items {
  margin-bottom: 30px;
  display: flex;
}
.products-sec .container, .shop .products-items .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products-sec .container .col-md-4, .shop .products-items .container .col-md-4 {
  padding-bottom: 20px;
  position: relative;
}
.products-sec .container .col-md-4 .cart, .shop .products-items .container .col-md-4 .cart {
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}
.products-sec .container .col-md-4 .cart:hover, .shop .products-items .container .col-md-4 .cart:hover {
  border: 1px solid #fe4365;
}
.products-sec .container .col-md-4 .cart:hover .cart-bottom button, .shop .products-items .container .col-md-4 .cart:hover .cart-bottom button {
  /* transform: translateY(0); */
  bottom: 0;
}
.products-sec .container .col-md-4 .cart .cart-top img, .shop .products-items .container .col-md-4 .cart .cart-top img {
  width: 100%;
}
.products-sec .container .col-md-4 .cart .cart-bottom, .shop .products-items .container .col-md-4 .cart .cart-bottom {
  padding-top: 15px;
}
.products-sec .container .col-md-4 .cart .cart-bottom .product-name, .shop .products-items .container .col-md-4 .cart .cart-bottom .product-name {
  padding: 10px;
}
.products-sec .container .col-md-4 .cart .cart-bottom .price-container, .shop .products-items .container .col-md-4 .cart .cart-bottom .price-container {
  padding-bottom: 40px;
}
.products-sec .container .col-md-4 .cart .cart-bottom .price-container .sale, .shop .products-items .container .col-md-4 .cart .cart-bottom .price-container .sale {
  font-size: 14px;
  border: 1px solid #00b9f1;
  padding: 3px 8px;
  color: #00b9f1;
}
.products-sec .container .col-md-4 .cart .cart-bottom .price-container .price, .shop .products-items .container .col-md-4 .cart .cart-bottom .price-container .price {
  margin-top: 10px;
}
.products-sec .container .col-md-4 .cart .cart-bottom .price-container .price .new-price, .shop .products-items .container .col-md-4 .cart .cart-bottom .price-container .price .new-price {
  color: #fe4365;
}
.products-sec .container .col-md-4 .cart .cart-bottom .price-container .price .old-price, .shop .products-items .container .col-md-4 .cart .cart-bottom .price-container .price .old-price {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: line-through;
}
.products-sec .container .col-md-4 .cart .cart-bottom button, .shop .products-items .container .col-md-4 .cart .cart-bottom button {
  outline: none;
  width: 100%;
  border: none;
  background: #fe4365;
  color: #fff;
  padding: 11px;
  /* transform: translateY(50px); */
  position: absolute;
  left: 0;
  bottom: -46px;
  transition: all 0.3s ease-in-out;
}
.products-sec .container .col-md-4 .cart .cart-bottom button i, .shop .products-items .container .col-md-4 .cart .cart-bottom button i {
  padding-left: 5px;
}
.products-sec .container .hero-btn, .shop .products-items .container .hero-btn {
  margin: 20px auto;
}
.products-sec .container .hero-btn:hover, .shop .products-items .container .hero-btn:hover {
  color: #fe4365;
  border: 1px solid #fe4365;
}

.cart-shopping {
  position: relative;
  top: 100px;
}
.cart-shopping h2 {
  font-size: 50px;
  font-family: 'Poppins', 'Roboto';
}
.cart-shopping .cart-inner .cart-head {
  padding: 50px 0 0;
  border-bottom: 1px solid #ccc;
}
.cart-shopping .cart-inner .cart-head .col-md-6 h6 {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.6);
}
.cart-shopping .cart-inner .cart-head .col-md-2 h6 {
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}
.cart-shopping .cart-inner .cart-body {
  margin-top: 20px;
}
.cart-shopping .cart-inner .cart-body .product {
  position: relative;
}
.cart-shopping .cart-inner .cart-body .product .col-md-6 img {
  width: 90px;
}
.cart-shopping .cart-inner .cart-body .product .col-md-6 h6 {
  display: inline-block;
}
.cart-shopping .cart-inner .cart-body .product .col-md-2 {
  margin: 20px 0;
}
.cart-shopping .cart-inner .cart-body .product .col-md-2 p {
  font-weight: bold;
  font-size: 18px;
}
.cart-shopping .cart-inner .cart-body .product .col-md-2 button {
  padding: 0 8px;
  background-color: #ccc;
  font-size: 16px;
  outline: none;
  border: 1px solid #000;
  width: 25px;
  height: 25px;
}
.cart-shopping .cart-inner .cart-body .product .col-md-2 input {
  width: 35px;
  outline: none;
  border: 1px solid #000;
  text-align: center;
}
.cart-shopping .cart-inner .cart-body .product .close {
  position: absolute;
  right: -10px;
  top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.cart-shopping .cart-inner .cart-body .product .close:hover {
  border: 1px solid #fe4365;
}
.cart-shopping .cart-inner .cart-body .product .close:hover span {
  color: #fe4365;
}
.cart-shopping .cart-inner .cart-body .product .close span {
  line-height: 27px;
}
.cart-shopping .cart-inner .order-summary {
  margin: 83px 5px;
}
.cart-shopping .cart-inner .order-summary .order-head {
  padding: 15px 12px;
  background-color: #dddddde6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.cart-shopping .cart-inner .order-summary .order-head h4 {
  font-size: 20px;
  margin: 0;
}
.cart-shopping .cart-inner .order-summary .order-body {
  padding: 15px 12px;
  background-color: #eae8e8ee;
}
.cart-shopping .cart-inner .order-summary .order-body .subtotal {
  display: flex;
  justify-content: space-between;
}
.cart-shopping .cart-inner .order-summary .order-body .shipping {
  display: flex;
  justify-content: space-between;
}
.cart-shopping .cart-inner .order-summary .order-body h6 {
  color: #00b9f1;
  cursor: pointer;
}
.cart-shopping .cart-inner .order-summary .order-footer {
  padding: 15px 12px;
  background-color: #dddddde6;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.cart-shopping .cart-inner .order-summary .order-footer .total-footer {
  display: flex;
  justify-content: space-between;
}
.cart-shopping .cart-inner .order-summary .order-footer .total-footer p {
  margin: 0;
}
.cart-shopping .cart-inner .order-summary button {
  outline: none;
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  border: none;
  background-color: #fe4365;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}
.cart-shopping .cart-inner .order-summary button:hover {
  background-color: #46fe43;
}

/* Start Products Page */
.header .products-header {
  margin-top: 70px;
  height: 500px;
  background-image: url("../img/products bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
}
.header .products-header .col-md-8 .heading {
  color: #333;
  border: 15px solid #00b9f1;
  font-weight: bold;
}
@media (max-width: 767px) {
  .header .products-header {
    background-position: 45%;
    height: 300px;
  }
  .header .products-header .col-md-8 .heading {
    font-size: 2.5rem;
    margin-left: 5px;
    border: none;
    position: relative;
    z-index: 5;
  }
  .header .products-header .col-md-8 .heading::after {
    content: '';
    width: 109px;
    height: 63px;
    position: absolute;
    top: -8px;
    left: -10px;
    border: 10px solid #00b9f1;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  .header .products-header .col-md-8 .heading {
    font-size: 5rem;
  }
}
@media (min-width: 992) {
  .header .products-header .col-md-8 .heading {
    font-size: 6rem;
  }
}

/* Start Shop */
.shop .products-list .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop .products-list .container ul {
  margin: 0;
  display: flex;
}
.shop .products-list .container ul li {
  margin: 18px;
  color: #333;
  position: relative;
  font-weight: bold;
  cursor: pointer;
}
.shop .products-list .container ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #fe4365;
  position: absolute;
  left: 50%;
  bottom: -8px;
  transition: all 0.3s ease-in-out;
}
.shop .products-list .container ul li:hover {
  color: #fe4365;
}
.shop .products-list .container ul li:hover::after {
  left: 0;
  width: 100%;
}
.shop .products-list .container ul .active {
  color: #fe4365;
}
.shop .products-list .container ul .active::after {
  left: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .shop .products-list .container ul {
    flex-wrap: wrap;
  }
}
.shop .products-items .catorgy {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 0;
}
.shop .products-items .catorgy .col-md-4 {
  position: relative;
  margin-bottom: 20px;
}
.shop .products-items .catorgy .col-md-4 .cart {
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}
.shop .products-items .catorgy .col-md-4 .cart:hover {
  border: 1px solid #fe4365;
}
.shop .products-items .catorgy .col-md-4 .cart:hover .cart-bottom button {
  bottom: 0;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-top img {
  width: 100%;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom {
  padding-top: 15px;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .product-name {
  padding: 10px;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .price-container {
  padding-bottom: 40px;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .price-container .sale {
  font-size: 14px;
  border: 1px solid #00b9f1;
  padding: 3px 8px;
  color: #00b9f1;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .price-container .price {
  margin-top: 10px;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .price-container .price .new-price {
  color: #fe4365;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .price-container .price .old-price {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: line-through;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom button {
  outline: none;
  width: 100%;
  border: none;
  background: #fe4365;
  color: #fff;
  padding: 11px;
  position: absolute;
  left: 0;
  bottom: -46px;
  transition: all 0.3s ease-in-out;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom button i {
  padding-left: 5px;
}
.shop .products-items .active {
  display: flex;
}

/* Start About Company */
.about-company {
  padding-bottom: 40px;
}
.about-company .col-md-6 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-company .col-md-6 .about-company-desc {
  margin-left: 20px;
}
.about-company .col-md-6 .about-company-desc h2 {
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
}
.about-company .col-md-6 .about-company-desc p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.6;
}
.about-company .col-md-6 .about-company-desc ul {
  padding: 7px;
}
.about-company .col-md-6 .about-company-desc ul li {
  display: flex;
}
.about-company .col-md-6 .about-company-desc ul li i {
  color: #00b9f1;
  margin-right: 10px;
  font-size: 18px;
}
.about-company .col-md-6 .about-company-desc ul li p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 767px) {
  .about-company .about-company-desc {
    margin-left: 0 !important;
    margin-top: 20px;
  }
}

/* End About Company */
/* Start Our Team Section */
.our-team {
  margin: 40px 0;
}
.our-team .member-container .img-container {
  padding: 15px;
}
.our-team .member-container .member-desc h3 {
  margin-bottom: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.our-team .member-container .member-desc p {
  font-size: 17px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.6);
}
.our-team .member-container .icon-container ul {
  display: flex;
  flex-direction: row;
}
.our-team .member-container .icon-container ul li {
  padding: 13px;
}
.our-team .member-container .icon-container ul li a {
  color: rgba(0, 185, 241, 0.9);
}
.our-team .member-container .icon-container ul li a:hover {
  color: #00b9f1;
}

/* End Our Team Section */
.header .contact-header {
  margin-top: 70px;
  background-image: url("../img/bg contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  position: relative;
}
.header .contact-header::after {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
.header .contact-header .col-md-8 {
  z-index: 3;
}
.header .contact-header .col-md-8 .heading {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  line-height: 250px;
}

@media (max-width: 767px) {
  .header {
    margin-bottom: 40px;
  }
  .header .contact-header {
    height: 200px;
  }
  .header .contact-header .col-md-8 .heading {
    font-size: 2.5rem;
    line-height: 200px;
  }
}
.contact-us .touch-us h3 {
  font-family: 'Poppins',sans-serif;
  text-align: center;
}
.contact-us .touch-us .contact-items {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 40px 0;
}
.contact-us .touch-us .contact-items .contact-item {
  padding: 20px;
}
.contact-us .touch-us .contact-items .contact-item i {
  font-size: 55px;
  color: #00b9f1;
}
.contact-us .touch-us .contact-items .contact-item h4 {
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}
.contact-us .touch-us .contact-items .contact-item p {
  margin-bottom: 0;
  color: #616060;
}
.contact-us .touch-us .contact-items .contact-item:nth-of-type(2) {
  border-left: 1px solid #00b9f1;
  border-right: 1px solid #00b9f1;
}
@media (max-width: 767px) {
  .contact-us .touch-us h3 {
    font-size: 24px;
  }
  .contact-us .touch-us .contact-items {
    margin: 30px 0;
    flex-direction: column;
  }
  .contact-us .touch-us .contact-items .contact-item {
    padding: 20px 0;
  }
  .contact-us .touch-us .contact-items .contact-item:nth-of-type(2) {
    border: none;
    border-top: 1px solid #00b9f1;
    border-bottom: 1px solid #00b9f1;
  }
}
.contact-us .message-section {
  padding: 50px 0;
}
.contact-us .message-section h3 {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Poppins',sans-serif;
  margin-bottom: 20px;
}
.contact-us .message-section .col-md-8 form {
  display: flex;
  flex-direction: column;
}
.contact-us .message-section .col-md-8 form input {
  padding: 8px;
  outline: none;
  margin-bottom: 15px;
  border: 1px solid #333;
}
.contact-us .message-section .col-md-8 form input:focus {
  border: 1px solid #fe4365;
}
.contact-us .message-section .col-md-8 form textarea {
  padding: 8px 5px;
  outline: none;
  margin-bottom: 15px;
  height: 150px;
  border: 1px solid #333;
}
.contact-us .message-section .col-md-8 form textarea:focus {
  border: 1px solid #fe4365;
}
.contact-us .message-section .col-md-8 button {
  border: none;
  outline: none;
  text-align: center;
  padding: 8px 15px;
  color: #fff;
  background-color: #00b9f1;
  border: 1px solid #00b9f1;
  display: flex;
  margin: auto;
}
.contact-us .message-section .col-md-8 button:hover {
  background-color: transparent;
  color: #fe4365;
  border: 1px solid #fe4365;
}
@media (max-width: 767px) {
  .contact-us .message-section {
    padding: 20px 0;
  }
  .contact-us .message-section h3 {
    font-size: 20px;
  }
}
.contact-us .map iframe {
  width: 100%;
}

/* Start Footer section */
.footer {
  padding: 60px 0;
  background-color: #333;
}
.footer .col-lg-4 h6 {
  color: #fff;
  font-size: 22px;
  padding: 14px 0;
  font-family: 'Poppins', sans-serif;
}
.footer .col-lg-4 ul li {
  padding: 10px 0;
}
.footer .col-lg-4 ul li a {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.7;
  padding-right: 10px;
}
.footer .col-lg-4 ul li a:hover {
  color: #fe4365;
  text-decoration: none;
}
.footer .col-lg-4 ul li p {
  color: rgba(255, 255, 255, 0.6);
}
.footer .col-lg-4 ul li span {
  color: rgba(255, 255, 255, 0.4);
}

/* End Footer section */

/*# sourceMappingURL=style.css.map */
