@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.header .contact-header::after, .user-banner::after, .about-header::after, .header .wrapper .carousel .carousel-inner::after, .sign-user .signup-sec, .sign-user .signin-sec {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  /*     @include prefixer(background, linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%));
  */
}

.heading {
  margin-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
}
@media (max-width: 767px) {
  .heading {
    margin-bottom: 2rem;
  }
}

.hero-btn {
  border: none;
  outline: none;
  padding: 15px 38px;
  font-size: 20px;
  background-color: #00b9f1;
  color: #fff;
  white-space: nowrap;
}
.hero-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

/* Carousel Btns */
.carousel-control-prev {
  left: -40px;
}

.carousel-control-next {
  right: -40px;
}

/* Sign In Section */
.sign-user {
  display: none;
}
.sign-user .signin-sec {
  position: fixed;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.7);
}
.sign-user .signin-sec .row {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.sign-user .signin-sec .row .signin-sec-inner {
  padding: 20px;
  background-color: #fff;
  transform: translateY(-150%);
  -webkit-animation: slideSign 0.5s ease-in-out forwards;
  -moz-animation: slideSign 0.5s ease-in-out forwards;
  -o-animation: slideSign 0.5s ease-in-out forwards;
  animation: slideSign 0.5s ease-in-out forwards;
}
.sign-user .signin-sec .row .signin-sec-inner h3 {
  font-size: 30px;
  margin: 30px 0 40px;
}
.sign-user .signin-sec .row .signin-sec-inner input {
  padding: 8px 10px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.sign-user .signin-sec .row .signin-sec-inner input:focus {
  border: 1px solid rgba(254, 67, 101, 0.8);
}
.sign-user .signin-sec .row .signin-sec-inner a {
  padding-bottom: 10px;
}
.sign-user .signin-sec .row .signin-sec-inner input[type=submit] {
  background-color: #fe4365;
  color: #fff;
  border: none;
  margin: 10px 0 40px;
  outline: none;
}
.sign-user .signin-sec .row .signin-sec-inner .close-btn {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
}
.sign-user .signin-sec .row .signin-sec-inner .close-btn span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 27px;
}
.sign-user .signin-sec .row .signin-sec-inner .close-btn:hover {
  border: 1px solid #000;
}
.sign-user .signin-sec .row .signin-sec-inner .close-btn:hover span {
  color: #000;
}
.sign-user .signin-sec .row .signin-sec-inner .cr-acc {
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  user-select: none;
}
.sign-user .signin-sec .row .signin-sec-inner .cr-acc p {
  color: #00b9f1;
  padding: 22px 0;
}
@-webkit-keyframes slideSign {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0);
  }
}
@-moz-keyframes slideSign {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideSign {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0);
  }
}
.sign-user .signup-sec {
  display: none;
  position: fixed;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.7);
}
.sign-user .signup-sec .row {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.sign-user .signup-sec .row .signup-sec-inner {
  padding: 20px;
  background-color: #fff;
  transform: translateY(-150%);
  -webkit-animation: slideSign 0.5s ease-in-out forwards;
  -moz-animation: slideSign 0.5s ease-in-out forwards;
  -o-animation: slideSign 0.5s ease-in-out forwards;
  animation: slideSign 0.5s ease-in-out forwards;
}
.sign-user .signup-sec .row .signup-sec-inner h3 {
  font-size: 30px;
  margin: 30px 0;
}
.sign-user .signup-sec .row .signup-sec-inner label {
  display: block;
  text-align: left;
}
.sign-user .signup-sec .row .signup-sec-inner input {
  display: block;
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
}
.sign-user .signup-sec .row .signup-sec-inner input:focus {
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.sign-user .signup-sec .row .signup-sec-inner input[type=submit] {
  color: #fff;
  background-image: linear-gradient(to left, #3b3fce, #00b9f1);
  border: none;
  outline: none;
  user-select: none;
}
.sign-user .signup-sec .row .signup-sec-inner .close-btn {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}
.sign-user .signup-sec .row .signup-sec-inner .close-btn span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 27px;
}
.sign-user .signup-sec .row .signup-sec-inner .close-btn:hover {
  border: 1px solid #000;
}
.sign-user .signup-sec .row .signup-sec-inner .close-btn:hover span {
  color: #000;
}
.sign-user .signup-sec .row .signup-sec-inner .back-signin {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  user-select: none;
}
.sign-user .signup-sec .row .signup-sec-inner .back-signin i {
  font-size: 22px;
  line-height: 30px;
  color: #00000085;
}
.sign-user .signup-sec .row .signup-sec-inner .back-signin:hover i {
  color: #000;
}

/* header */
.header {
  overflow: hidden;
  margin-bottom: 50px;
}
.header .navbar {
  z-index: 88;
  background-color: #fff;
}
.header .navbar .navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #fe4365;
  user-select: none;
}
.header .navbar .navbar-toggler {
  border: none;
  cursor: pointer;
}
.header .navbar .navbar-toggler i {
  font-size: 24px;
}
.header .navbar .nav-item {
  padding: 0 12px;
  position: relative;
}
.header .navbar .nav-item .nav-link {
  color: #636363;
  font-size: 16px;
  user-select: none;
}
.header .navbar .nav-item .nav-link:hover {
  color: #fe4365;
}
.header .navbar .nav-item .active {
  color: #fe4365;
}
.header .navbar .sign-btn {
  margin-right: 10px;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 8px 13px;
  border-radius: 4px;
  background-color: transparent;
  color: #00b9f1;
  font-weight: bold;
}
.header .navbar .sign-btn:hover {
  color: #fe4365;
}
.header .navbar .shopping-btn {
  position: relative;
  margin-left: 10px;
}
.header .navbar .shopping-btn .sh-btn {
  color: #636363;
}
.header .navbar .shopping-btn .sh-btn:hover {
  color: #fe4365;
}
.header .navbar .shopping-btn .number {
  color: #fff;
  background-color: rgba(254, 67, 101, 0.8);
  font-size: 13px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: 17px;
  left: 13px;
  user-select: none;
}
@media (max-width: 767px) {
  .header .navbar .collapse {
    padding: 20px 0;
  }
  .header .navbar .collapse .nav-item .number {
    right: 0;
    left: 27px;
  }
  .header .navbar .collapse .sign-btn {
    display: inline-block;
    margin: 0 0 10px 0;
  }
}
@media (min-width: 768px) {
  .header .navbar .navbar {
    padding: 0;
  }
  .header .navbar .navbar .collapse {
    padding: 20px 0;
  }
}
@media (min-width: 991px) {
  .header .navbar .collapse {
    padding: 0;
  }
}
.header .wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Carousel */
}
.header .wrapper .wrapper-desc {
  z-index: 77;
  text-align: center;
  position: absolute;
}
.header .wrapper .wrapper-desc h2 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 40px;
}
.header .wrapper .wrapper-desc h2 span {
  color: #fe4365;
}
.header .wrapper .wrapper-desc p {
  color: #ddd;
  padding: 10px 0 40px;
}
.header .wrapper .carousel {
  position: relative;
}
.header .wrapper .carousel .btn-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  z-index: 5;
}
.header .wrapper .carousel .btn-icon:hover {
  background-color: black;
}
.header .wrapper .carousel .prev {
  left: 10px;
}
.header .wrapper .carousel .next {
  right: 10px;
}
.header .wrapper .carousel .carousel-inner {
  position: relative;
  z-index: 1;
}
.header .wrapper .carousel .carousel-inner::after {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
@media (max-width: 767px) {
  .header .wrapper .wrapper-desc h2 {
    font-size: 25px;
  }
  .header .wrapper .wrapper-desc p {
    font-size: 14px;
  }
  .header .wrapper .wrapper-desc a {
    font-size: 18px;
    padding: 15px 30px;
  }
  .header .wrapper .carousel-item img {
    width: 900px;
  }
  .header .wrapper .carousel-inner {
    height: 600px;
  }
}
@media (min-width: 768px) {
  .header .wrapper .btn-icon {
    top: 30%;
  }
}
@media (min-width: 991px) {
  .header .wrapper .btn-icon {
    top: 50%;
  }
  .header .wrapper .carousel-inner .carousel-item img {
    width: 100%;
  }
  .header .wrapper .carousel-inner .carousel-item .carousel-caption {
    top: 35%;
  }
  .header .wrapper .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 60px;
  }
}
.header .shopping {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #fe4365;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header .shopping .icon {
  color: #fff;
}
.header .shopping:hover {
  background-color: #00b9f1;
}
@media (max-width: 767px) {
  .header .shopping {
    display: flex;
  }
}
@media (min-width: 768px) {
  .header .shopping {
    display: none;
  }
}

/* Start Product Section */
.products-sec {
  margin-bottom: 30px;
  display: flex;
}
.products-sec .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products-sec .container .col-md-4 {
  padding-bottom: 20px;
  position: relative;
}
.products-sec .container .col-md-4 .cart {
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}
.products-sec .container .col-md-4 .cart:hover {
  border: 1px solid #fe4365;
}
.products-sec .container .col-md-4 .cart:hover .cart-bottom button {
  /* transform: translateY(0); */
  bottom: 0;
}
.products-sec .container .col-md-4 .cart .cart-top img {
  width: 100%;
  max-height: 300px;
}
.products-sec .container .col-md-4 .cart .cart-bottom {
  padding-top: 15px;
}
.products-sec .container .col-md-4 .cart .cart-bottom .product-name {
  padding: 10px;
}
.products-sec .container .col-md-4 .cart .cart-bottom .price-container {
  user-select: none;
  padding-bottom: 40px;
}
.products-sec .container .col-md-4 .cart .cart-bottom .price-container .sale {
  font-size: 14px;
  border: 1px solid #00b9f1;
  padding: 3px 8px;
  color: #00b9f1;
}
.products-sec .container .col-md-4 .cart .cart-bottom .price-container .price {
  margin-top: 10px;
}
.products-sec .container .col-md-4 .cart .cart-bottom .price-container .price .new-price {
  color: #fe4365;
}
.products-sec .container .col-md-4 .cart .cart-bottom .price-container .price .old-price {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: line-through;
}
.products-sec .container .col-md-4 .cart .cart-bottom button {
  outline: none;
  user-select: none;
  width: 100%;
  border: none;
  background: #fe4365;
  color: #fff;
  padding: 11px;
  position: absolute;
  left: 0;
  bottom: -46px;
  transition: all 0.3s ease-in-out;
}
.products-sec .container .col-md-4 .cart .cart-bottom button i {
  padding-left: 5px;
}
.products-sec .container .col-md-4 .cart .cart-bottom .added-btn {
  width: 50%;
  background-color: #2db731;
  bottom: 0;
}
.products-sec .container .col-md-4 .cart .cart-bottom .view-cart {
  width: 50%;
  position: absolute;
  left: 50%;
  bottom: 0;
  padding: 11px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  user-select: none;
  display: none;
}
.products-sec .container .col-md-4 .cart .cart-bottom .view-cart i {
  padding-left: 5px;
}
.products-sec .container .col-md-4 .cart .cart-bottom .added-view {
  display: block;
}
.products-sec .container .col-md-4 .added {
  border: 1px solid #2db731;
}
.products-sec .container .hero-btn {
  margin: 20px auto;
  user-select: none;
}
.products-sec .container .hero-btn:hover {
  color: #fff;
  background-color: #fe4365;
}

/* Start Sign up */
.sign {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.sign .signin .signin-container h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
}
.sign .signin .signin-container label {
  font-weight: bold;
  cursor: pointer;
}
.sign .signin .signin-container .col-md-12 {
  margin-bottom: 15px;
}
.sign .signin .signin-container .col-md-12 input {
  width: 100%;
  outline: none;
  padding: 8px;
}
.sign .signin .signin-container .col-md-12 input:focus {
  border: 1px solid #fe4365;
}
.sign .signin .signin-container .signin-btn {
  margin: 20px 15px;
  width: 100%;
  outline: none;
  padding: 10px 25px;
  border: none;
  background-color: #fe4365;
  color: #fff;
}
.sign .signin .signin-container .remember-me {
  display: flex;
}
.sign .signin .signin-container .remember-me label {
  font-size: 16px;
  margin-top: -4px;
  margin-left: 6px;
}
.sign .signin .signin-container .create-acc {
  text-align: center;
  border-top: 1px solid #3333333b;
  padding: 24px;
  margin: 15px 0;
}
.sign .signin .signin-container .create-acc p {
  text-decoration: none;
  color: #00b9f1;
  font-size: 16px;
  cursor: pointer;
}
.sign .signup {
  display: none;
}
.sign .signup .signup-container h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
}
.sign .signup .signup-container label {
  font-weight: bold;
  cursor: pointer;
}
.sign .signup .signup-container .col-md-6 {
  margin-bottom: 15px;
}
.sign .signup .signup-container .col-md-6 input {
  width: 100%;
  outline: none;
  padding: 8px;
  border: 1px solid #333;
}
.sign .signup .signup-container .col-md-6 input:focus {
  border: 1px solid #fe4365;
}
.sign .signup .signup-container .col-md-12 {
  margin-bottom: 15px;
}
.sign .signup .signup-container .col-md-12 input {
  width: 100%;
  outline: none;
  padding: 8px;
  border: 1px solid #333;
}
.sign .signup .signup-container .col-md-12 input:focus {
  border: 1px solid #fe4365;
}
.sign .signup .signup-container .col-md-12 a {
  font-size: 15px;
}
.sign .signup .signup-container .signup-btn {
  margin: 20px 15px;
  outline: none;
  padding: 10px 25px;
  border: none;
  color: #fff;
  width: 100%;
  background-image: linear-gradient(to left, #3b3fce, #00b9f1);
}
.sign .signup .signup-container .have-acc {
  display: flex;
  margin-top: 10px;
}
.sign .signup .signup-container .have-acc p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}
.sign .signup .signup-container .have-acc span {
  color: #ff2356;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}
@media (max-width: 767px) {
  .sign {
    position: relative;
    top: 105px;
  }
  .sign .signup {
    overflow: hidden;
    margin-bottom: 10px;
  }
  .sign .signup .signup-container h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .sign .signin {
    overflow: hidden;
  }
  .sign .signin .signin-container h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.cart-shopping {
  position: relative;
  top: 100px;
}
.cart-shopping h2 {
  font-size: 50px;
  font-family: "Poppins", "Roboto";
}
.cart-shopping .cart-inner .cart-head {
  padding: 50px 0 0;
  border-bottom: 1px solid #ccc;
}
.cart-shopping .cart-inner .cart-head .col-md-6 h6 {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.6);
}
.cart-shopping .cart-inner .cart-head .col-md-2 h6 {
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 767px) {
  .cart-shopping .cart-inner .cart-head {
    display: none;
  }
}
.cart-shopping .cart-inner .cart-body {
  margin-top: 20px;
}
.cart-shopping .cart-inner .cart-body .product {
  position: relative;
}
.cart-shopping .cart-inner .cart-body .product .col-md-6 img {
  width: 90px;
}
@media (max-width: 767px) {
  .cart-shopping .cart-inner .cart-body .product .col-md-6 img {
    width: 100%;
  }
}
.cart-shopping .cart-inner .cart-body .product .col-md-6 h6 {
  display: inline-block;
}
.cart-shopping .cart-inner .cart-body .product .col-md-2 {
  margin: 20px 0;
}
.cart-shopping .cart-inner .cart-body .product .col-md-2 p {
  font-weight: bold;
  font-size: 18px;
}
.cart-shopping .cart-inner .cart-body .product .col-md-2 button {
  padding: 0 8px;
  background-color: #ccc;
  font-size: 16px;
  outline: none;
  border: 1px solid #000;
  width: 25px;
  height: 25px;
}
.cart-shopping .cart-inner .cart-body .product .col-md-2 button:hover {
  border: 1px solid #00b9f1;
  color: #00b9f1;
}
.cart-shopping .cart-inner .cart-body .product .col-md-2 input {
  width: 35px;
  outline: none;
  border: 1px solid #000;
  text-align: center;
}
.cart-shopping .cart-inner .cart-body .product .col-md-2 input:focus {
  border: 1px solid #00b9f1;
}
.cart-shopping .cart-inner .cart-body .product .close {
  user-select: none;
  position: absolute;
  right: -10px;
  top: 20px;
  border: 1px solid #fe4365;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  opacity: 1;
}
.cart-shopping .cart-inner .cart-body .product .close:hover {
  border: 1px solid #00b9f1;
}
.cart-shopping .cart-inner .cart-body .product .close:hover span {
  color: #00b9f1;
}
.cart-shopping .cart-inner .cart-body .product .close span {
  line-height: 27px;
  color: #fe4365;
}
@media (max-width: 767px) {
  .cart-shopping .cart-inner .cart-body .product {
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 13px;
  }
  .cart-shopping .cart-inner .cart-body .product img {
    display: flex;
    margin: auto;
    width: 100%;
  }
  .cart-shopping .cart-inner .cart-body .product .title {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  .cart-shopping .cart-inner .cart-body .product .col-md-2 {
    display: flex;
    justify-content: space-between;
  }
  .cart-shopping .cart-inner .cart-body .product .close {
    top: 0;
  }
}
@media (min-width: 768px) {
  .cart-shopping .cart-inner .cart-body .product .title {
    display: inline-block;
  }
  .cart-shopping .cart-inner .cart-body .product .title h5 {
    display: none;
  }
  .cart-shopping .cart-inner .cart-body .product .col-md-2 .control-quntity {
    display: flex;
  }
  .cart-shopping .cart-inner .cart-body .product .col-md-2 h5 {
    display: none;
  }
}
@media (min-width: 1200px) {
  .cart-shopping .cart-inner .cart-body .product .col-md-2 .control-quntity {
    display: block;
  }
}
.cart-shopping .cart-inner .order-summary {
  margin: 83px 5px;
}
.cart-shopping .cart-inner .order-summary .order-head {
  padding: 15px 12px;
  background-color: #dddddde6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.cart-shopping .cart-inner .order-summary .order-head h4 {
  font-size: 20px;
  margin: 0;
}
.cart-shopping .cart-inner .order-summary .order-body {
  padding: 15px 12px;
  background-color: #eae8e8ee;
}
.cart-shopping .cart-inner .order-summary .order-body .subtotal {
  display: flex;
  justify-content: space-between;
}
.cart-shopping .cart-inner .order-summary .order-body .shipping {
  display: flex;
  justify-content: space-between;
}
.cart-shopping .cart-inner .order-summary .order-body h6 {
  color: #00b9f1;
  cursor: pointer;
}
.cart-shopping .cart-inner .order-summary .order-footer {
  padding: 15px 12px;
  background-color: #dddddde6;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.cart-shopping .cart-inner .order-summary .order-footer .total-footer {
  display: flex;
  justify-content: space-between;
}
.cart-shopping .cart-inner .order-summary .order-footer .total-footer p {
  margin: 0;
}
.cart-shopping .cart-inner .order-summary button {
  outline: none;
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  border: none;
  background-color: #fe4365;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}
.cart-shopping .cart-inner .order-summary button:hover {
  background-color: #43fe96;
}

/* Start Products Page */
.header .products-header {
  margin-top: 70px;
  height: 500px;
  background-image: url("../img/products bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
}
.header .products-header .col-md-8 .heading {
  color: #333;
  border: 15px solid #00b9f1;
  font-weight: bold;
}
@media (max-width: 767px) {
  .header .products-header {
    background-position: 45%;
    height: 300px;
  }
  .header .products-header .col-md-8 .heading {
    font-size: 2.5rem;
    margin-left: 5px;
    border: none;
    position: relative;
    z-index: 5;
  }
  .header .products-header .col-md-8 .heading::after {
    content: "";
    width: 109px;
    height: 63px;
    position: absolute;
    top: -8px;
    left: -10px;
    border: 10px solid #00b9f1;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  .header .products-header .col-md-8 .heading {
    font-size: 5rem;
  }
}
@media (min-width: 992) {
  .header .products-header .col-md-8 .heading {
    font-size: 6rem;
  }
}

/* Start Shop */
.shop .products-list .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop .products-list .container ul {
  margin: 0;
  display: flex;
}
.shop .products-list .container ul li {
  margin: 18px;
  color: #333;
  position: relative;
  font-weight: bold;
  cursor: pointer;
}
.shop .products-list .container ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #fe4365;
  position: absolute;
  left: 50%;
  bottom: -8px;
  transition: all 0.3s ease-in-out;
}
.shop .products-list .container ul li:hover {
  color: #fe4365;
}
.shop .products-list .container ul li:hover::after {
  left: 0;
  width: 100%;
}
.shop .products-list .container ul .active {
  color: #fe4365;
}
.shop .products-list .container ul .active::after {
  left: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .shop .products-list .container ul {
    flex-wrap: wrap;
  }
}
.shop .products-items {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.shop .products-items .row {
  width: 100%;
}
.shop .products-items .catorgy {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 0;
  width: 100%;
}
.shop .products-items .catorgy .col-md-4 {
  position: relative;
  margin-bottom: 20px;
}
.shop .products-items .catorgy .col-md-4 .cart {
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}
.shop .products-items .catorgy .col-md-4 .cart:hover {
  border: 1px solid #fe4365;
}
.shop .products-items .catorgy .col-md-4 .cart:hover .cart-bottom button {
  bottom: 0;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-top img {
  width: 100%;
  max-height: 300px;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom {
  padding-top: 15px;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .product-name {
  padding: 10px;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .price-container {
  padding-bottom: 40px;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .price-container .sale {
  font-size: 14px;
  border: 1px solid #00b9f1;
  padding: 3px 8px;
  color: #00b9f1;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .price-container .price {
  margin-top: 10px;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .price-container .price .new-price {
  color: #fe4365;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .price-container .price .old-price {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: line-through;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom button {
  outline: none;
  width: 100%;
  border: none;
  background: #fe4365;
  color: #fff;
  padding: 11px;
  position: absolute;
  left: 0;
  bottom: -46px;
  transition: all 0.3s ease-in-out;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom button i {
  padding-left: 5px;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .added-btn {
  width: 50%;
  background-color: #2db731;
  bottom: 0;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .view-cart {
  width: 50%;
  position: absolute;
  left: 50%;
  bottom: 0;
  padding: 11px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  user-select: none;
  display: none;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .view-cart i {
  padding-left: 5px;
}
.shop .products-items .catorgy .col-md-4 .cart .cart-bottom .added-view {
  display: block;
}
.shop .products-items .catorgy .col-md-4 .added {
  border: 1px solid #2db731;
}
.shop .products-items .active {
  display: flex;
}

.about-header {
  height: 300px;
  background-color: #00b9f1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/about-bg.jpg);
  position: relative;
  z-index: 2;
}
.about-header::after {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.about-header .heading {
  margin-top: 70px;
  font-size: 4rem;
  font-family: "Montserrat";
  font-weight: bold;
  white-space: nowrap;
  color: #fff;
  position: relative;
  z-index: 5;
}
.about-header .heading::after {
  content: "";
  position: absolute;
  left: -12px;
  bottom: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-left: 5px solid #00b9f1;
  border-bottom: 5px solid #00b9f1;
}
.about-header .heading::before {
  content: "";
  position: absolute;
  right: -125px;
  top: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-right: 5px solid #00b9f1;
  border-top: 5px solid #00b9f1;
}
@media (max-width: 767px) {
  .about-header .heading {
    font-size: 3rem;
  }
  .about-header .heading::before {
    right: -14px;
    top: -3px;
  }
}

.about {
  margin-bottom: 40px;
}
.about .about-company {
  margin-bottom: 30px;
}
.about .about-company .about-img img {
  width: 100%;
}
.about .about-company .about-desc {
  padding-left: 40px;
}
.about .about-company .about-desc h3 {
  font-size: 34px;
  padding: 10px 0;
  font-family: "poppins";
}
.about .about-company .about-desc p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}
.about .about-company .about-desc ul li {
  display: flex;
}
.about .about-company .about-desc ul li i {
  color: #fe4365;
  padding: 3px 6px 3px 5px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .about .about-company .about-desc {
    padding-left: 10px;
  }
  .about .about-company .about-desc h3 {
    font-size: 25px;
  }
}
.about .banner-bottom {
  padding: 50px 0;
}
.about .banner-bottom .col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.about .banner-bottom .col-md-4 .about-icons {
  display: flex;
  justify-content: center;
}
.about .banner-bottom .col-md-4 .about-icons i::before {
  font-size: 75px;
  color: #fe4365;
}
.about .banner-bottom .col-md-4 h4 {
  font-size: 22px;
}
.about .banner-bottom .col-md-4 p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.about .banner-bottom .col-md-4 p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 767px) {
  .about .banner-bottom {
    padding: 0;
  }
}

.user-banner {
  margin: 50px 0;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/user-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 2;
}
.user-banner::after {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
}
.user-banner .col-md-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 7;
}
.user-banner .col-md-3 i {
  font-size: 50px;
  color: #fe4365;
}
.user-banner .col-md-3 .counter {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.user-banner .col-md-3 .counter p {
  font-size: 30px;
  color: #00b9f1;
  line-height: 50px;
}
.user-banner .col-md-3 h5 {
  text-transform: uppercase;
  font-weight: bold;
  color: #fe4365;
}
@media (max-width: 767px) {
  .user-banner {
    height: 600px;
  }
  .user-banner .col-md-3 {
    margin-bottom: 10px;
  }
  .user-banner .col-md-3 i {
    font-size: 30px;
  }
}

.choose-us {
  margin: 30px 0;
}
.choose-us .choose-inner .choose-desc h3 {
  font-size: 34px;
  padding: 10px 0;
  font-family: "poppins", sans-serif;
}
.choose-us .choose-inner .choose-desc p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}
.choose-us .choose-inner .Choose-img img {
  width: 100%;
}

.header .contact-header {
  margin-top: 70px;
  background-image: url("../img/bg contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  position: relative;
}
.header .contact-header::after {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
.header .contact-header .col-md-8 {
  z-index: 3;
}
.header .contact-header .col-md-8 .heading {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  line-height: 250px;
}

@media (max-width: 767px) {
  .header {
    margin-bottom: 40px;
  }
  .header .contact-header {
    height: 200px;
  }
  .header .contact-header .col-md-8 .heading {
    font-size: 2.5rem;
    line-height: 200px;
  }
}
.contact-us .touch-us h3 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.contact-us .touch-us .contact-items {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 40px 0;
}
.contact-us .touch-us .contact-items .contact-item {
  padding: 20px;
}
.contact-us .touch-us .contact-items .contact-item i {
  font-size: 55px;
  color: #fe4365;
}
.contact-us .touch-us .contact-items .contact-item h4 {
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}
.contact-us .touch-us .contact-items .contact-item p {
  margin-bottom: 0;
  color: #616060;
}
.contact-us .touch-us .contact-items .contact-item:nth-of-type(2) {
  border-left: 1px solid #fe4365;
  border-right: 1px solid #fe4365;
}
@media (max-width: 767px) {
  .contact-us .touch-us h3 {
    font-size: 24px;
  }
  .contact-us .touch-us .contact-items {
    margin: 30px 0;
    flex-direction: column;
  }
  .contact-us .touch-us .contact-items .contact-item {
    padding: 20px 0;
  }
  .contact-us .touch-us .contact-items .contact-item:nth-of-type(2) {
    border: none;
    border-top: 1px solid #00b9f1;
    border-bottom: 1px solid #00b9f1;
  }
}
.contact-us .message-section {
  padding: 50px 0;
}
.contact-us .message-section h3 {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.contact-us .message-section .col-md-8 form {
  display: flex;
  flex-direction: column;
}
.contact-us .message-section .col-md-8 form input {
  padding: 8px;
  outline: none;
  margin-bottom: 15px;
  border: 1px solid #333;
}
.contact-us .message-section .col-md-8 form input:focus {
  border: 1px solid #fe4365;
}
.contact-us .message-section .col-md-8 form textarea {
  padding: 8px 5px;
  outline: none;
  margin-bottom: 15px;
  height: 150px;
  border: 1px solid #333;
}
.contact-us .message-section .col-md-8 form textarea:focus {
  border: 1px solid #fe4365;
}
.contact-us .message-section .col-md-8 button {
  border: none;
  outline: none;
  text-align: center;
  padding: 8px 15px;
  color: #fff;
  background-color: #00b9f1;
  border: 1px solid #00b9f1;
  display: flex;
  margin: auto;
}
.contact-us .message-section .col-md-8 button:hover {
  background-color: transparent;
  color: #fe4365;
  border: 1px solid #fe4365;
}
@media (max-width: 767px) {
  .contact-us .message-section {
    padding: 20px 0;
  }
  .contact-us .message-section h3 {
    font-size: 20px;
  }
}
.contact-us .map iframe {
  width: 100%;
}

/* Start Footer section */
.footer {
  padding: 30px 0;
  background-color: #333;
}
.footer .col-lg-4 h6 {
  color: #fff;
  font-size: 22px;
  padding: 14px 0;
  font-family: "Poppins", sans-serif;
}
.footer .col-lg-4 ul li {
  padding: 10px 0;
}
.footer .col-lg-4 ul li a {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.7;
  padding-right: 10px;
}
.footer .col-lg-4 ul li a:hover {
  color: #fe4365;
  text-decoration: none;
}
.footer .col-lg-4 ul li p {
  color: rgba(255, 255, 255, 0.6);
}
.footer .col-lg-4 ul li span {
  color: rgba(255, 255, 255, 0.4);
}

/* End Footer section */

/*# sourceMappingURL=style.css.map */
